<script setup>
import Button from "primevue/button";
</script>

<template>
  <div class="content">
    <Button class="button" label="About" onclick="location.href='#About';" />
    <Button
      class="button"
      label="Contact"
      onclick="location.href='#Contact';"
    />
    <img src="https://zupimages.net/up/21/48/u76m.png" width="100%" />

    <div style="background-color: rgb(255, 255, 255)">
      <h2 id="About" class="left">About us</h2>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
        mollitia, molestiae quas vel sint commodi repudiandae consequuntur
        voluptatum laborum numquam blanditiis harum quisquam eius sed odit
        fugiat iusto fuga praesentium optio, eaque rerum! Provident similique
        accusantium nemo autem. Veritatis obcaecati tenetur iure eius earum ut
        molestias architecto voluptate aliquam nihil, eveniet aliquid culpa
        officia aut! Impedit sit sunt quaerat, odit, tenetur error, harum
        nesciunt ipsum debitis quas aliquid. Reprehenderit, quia. Quo neque
        error repudiandae fuga? Ipsa laudantium molestias eos sapiente officiis
        modi at sunt excepturi expedita sint? Sed quibusdam recusandae alias
        error harum maxime adipisci amet laborum.
      </p>
    </div>

    <div
      style="
        background-color: rgb(200, 226, 255);
        margin-top: 0px;
        margin-bottom: 0px;
      "
    >
      <h2 id="Contact" class="left">Contact us</h2>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
        mollitia, molestiae quas vel sint commodi repudiandae consequuntur
        voluptatum laborum numquam blanditiis harum quisquam eius sed odit
        fugiat iusto fuga praesentium optio, eaque rerum! Provident similique
        accusantium nemo autem. Veritatis obcaecati tenetur iure eius earum ut
        molestias architecto voluptate aliquam nihil, eveniet aliquid culpa
        officia aut! Impedit sit sunt quaerat, odit, tenetur error, harum
        nesciunt ipsum debitis quas aliquid. Reprehenderit, quia. Quo neque
        error repudiandae fuga? Ipsa laudantium molestias eos sapiente officiis
        modi at sunt excepturi expedita sint? Sed quibusdam recusandae alias
        error harum maxime adipisci amet laborum.
      </p>
    </div>

    <img
      src="https://zupimages.net/up/21/48/at7o.png"
      width="100%"
      style="margin-top: 0px; padding-bottom: 0px"
    />
  </div>
</template>

<style scoped>
a {
  color: #42b983;
}

.button {
  padding: 10px;
  margin: 10px;
  box-shadow: rgb(36, 36, 36) 0px 0px 4px;
}

.left {
  text-align: left;
  margin-left: 10%;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.colorband {
  background-color: rgb(255, 255, 255);
}

.text {
  margin-left: 15%;
  margin-right: 15%;
  /* box-shadow : rgb(209, 225, 255) 0px 0px 4px;*/
  padding: 10px;
  line-height: 2em;
  font-variant: normal;
}
</style>
