<template>
  <div>
    <Card style="width: 25em">
      <template #header> </template>
      <template #title> Bienvenue ! </template>
      <template #subtitle> Accéder à son compte </template>
      <template #content>
        <InputText
          id="username"
          type="text"
          v-model="username"
          placeholder="Identifiant"
        />
        <InputText
          id="password"
          type="password"
          v-model="password"
          placeholder="Mot de passe"
        />
      </template>
      <template #footer>
        <Button icon="pi pi-sign-in" label="Sign In" @click="_login" />
        <Button
          icon="pi pi-user-plus"
          label="Inscription"
          class="p-button-secondary"
          style="margin-left: 0.5em"
        />
      </template>
    </Card>
  </div>
</template>

<script setup>
import Card from "primevue/card";
import Button from "primevue/button";
import InputText from "primevue/inputtext";
import { ref } from "vue";
import { logIn } from "../api/auth.js";
import router from "../router";

const username = ref("");
const password = ref("");

async function _login() {
  await logIn(username.value, password.value)
    .then(() => {
      console.log("here");
      router.push("/dashboard");
    })
    .catch(() => {});
}
</script>
