<template>
  <Menubar :model="items" />
</template>

<script setup>
import { ref } from "@vue/reactivity";
import { loggedIn } from "../api/auth.js";
import store from "../store/store.js";
import router from "../router";
import Menubar from "primevue/menubar";

const login_item = loggedIn()
  ? {
      label: "Logout",
      command: () => {
        store.commit("auth/logout");
        router.go("/");
      },
    }
  : { label: "Login", to: "/login" };

const items = ref([
  {
    label: "Sauveteurs du dunkerquois",
    icon: "pi pi-fw pi-user",
    to: "/",
  },
  login_item,
  {
    label: "Search",
    icon: "pi pi-fw pi-search",
    disabled: true,
    style: "display:flex;justify-content:flex-end;",
  },
]);
</script>
