
<template>
<div class="grid">
	<div class="col-8">
    <h1>ERROR 404</h1>
    <p>Vous n'avez pas réussi à rejoindre la page... </p>
  <span class="p-float-label">
	<InputText id="note" type="text" v-model="value" />
	<label for="note"></label>
  </span>
    <p v-if="value == 404">aqdgzdfgsd</p>
  </div>
	<div class="col-4">
    <img src="https://cdn.pixabay.com/photo/2021/02/26/16/29/error-404-6052476_1280.png" alt="">
  </div>
</div>
</template>

<style>
template{
  align-items: center;
}
img{
 width: 140%;
 margin-top: 6rem;
}
h1{
  padding-top: 10rem;
}
.col-8{
  background:rgb(106, 106, 216);
  height: 100vh;
  color: white;
  font-size: 150%;
}
.col-4{
  height: 100vh;
}

</style>
<script setup>
import { ref } from '@vue/reactivity';
import InputText from 'primevue/inputtext';
const value=ref('');
</script>

