<template>
    <div>
        <h1>Noms</h1>
        <div>{{ lastName }}</div>
        <div>{{ firstName }}</div>
        <h1>Date de naissance</h1>
        <div>{{birth}}</div>
        <rescuer-card-rescues :rescues="rescues"/>
    </div>
</template>

<script>
import RescuerCardRescues from './RescuerCardComponents/RescuerCardRescues.vue'
export default {
  components: { RescuerCardRescues },
    data() {
        return {
            jsonData:{
                lastName: "Zineb",
                firstName: "Sauveuse",
                birth: "05/08/4693",
                rescues: [{
                    id: 1,
                    date: "48/78/62",
                    boat: {
                        name: "Diamond"
                    },
                    description: "Sauvetage d'une atttaque de requin"
                }]
            }
        }
    },
    computed: {
        lastName(){
            return this.jsonData['lastname']
        },
        firstName(){
            return this.jsonData['firstName']
        },
        birth(){
            return this.jsonData['birth']
        },
        rescues(){
            return this.jsonData['rescues']
        }
    }
}
</script>