<template>
    <div>
        <h1>La date du sauvetage</h1>
        <div>{{ date }}</div>
        <h1>La description du sauvetage</h1>
        <div>{{ description }}</div>
        <rescue-card-boat :boat="boat"/>
        <rescue-card-rescued-persons :rescuedPersons="rescuedPersons"/>
        <rescue-card-rescuer :rescuers="rescuers"/>
    </div>
</template>

<script>
import RescueCardBoat from './RescueCardComponents/RescueCardBoat.vue';
import RescueCardRescuedPersons from './RescueCardComponents/RescueCardRescuedPersons.vue';
import RescueCardRescuer from './RescueCardComponents/RescueCardRescuer.vue';
export default {
  components: { RescueCardBoat, RescueCardRescuedPersons, RescueCardRescuer },
    data() {
        return {
            jsonData: {
                date: "10 janvier",
                description: "la description du sauvetage",
                boat: {
                    id: "1",
                    name: "el batoto"
                },
                rescuedPersons: [
                    {
                        id: 1,
                        lastname: "Camu",
                        firstname: "Ian"
                    }
                ],
                rescuers: [
                    {
                        id: 1,
                        lastname: "Daniel",
                        firstname: "Mathiot",
                        birth: "05/08/4978"
                    }
                ]
            }
        }
    },
    computed:{
        date(){
            return this.jsonData['date'];
        },
        description(){
            return this.jsonData['description'];
        },
        boat(){
            return this.jsonData['boat'];
        },
        rescuedPersons(){
            return this.jsonData['rescuedPersons'];
        },
        rescuers(){
            return this.jsonData['rescuers'];
        }
    }
}
</script>