<template>
  <DataView :value="stories">
    <template #empty>No records found.</template>
    <template #list="slotProps">
      <div class="grid">
        <div class="col-12">
              <div class="grid">
                <div class="col-12">
                  <b>{{ slotProps.data.description }}</b>
                </div>
              </div>
            </div>
            <Button icon="pi pi-search"></Button>
      </div>
    </template>
  </DataView>
</template>

<script setup>
import DataView from "primevue/dataview";
import { ref } from "vue";

const story = {
  description: "This is a description",
};

const stories = ref([story, story]);
</script>
