<template>
    <div>
        <div v-for="rescue in rescues" :key="rescue.id">
            {{ rescue.date }} {{ rescue.description}} {{ rescue.boat.name }}
        </div>
    </div>
</template>
<script>
export default {
    props:{
        rescues: {
            type: Array,
            required: true
        }
    }
}
</script>