<template>
    <div>
        {{message}}
    </div>
</template>

<script>
export default {
    props:{
        message: {
            type: String,
            required: true
        }
    },
    data(){
        return {
        }
    }
}
</script>