<template>
<div>
    <change-preview-component v-show="previewCommand" :message="previewCommand"/>
    <DataTable :value="commandes">
        <Column field="date" header="Date"></Column>
        <Column field="status" header="Status"></Column>
        <Column field="type" header="Type"></Column>
        <Column field="type_donnee" header="Type Donnée"></Column>
        <Column header="Action">
            <template #body="slotProps">
                <Button @click="previewCommand=slotProps.data.type + 'Prévisualiser'">Prévisualiser</Button>
                <Button @click="previewCommand=slotProps.data.type + 'Supprimer'">Rejeter</Button>
                <Button @click="previewCommand=slotProps.data.type + 'Approuver'">Approuver</Button>
            </template>
        </Column>
    </DataTable>
</div>

</template>

<script>
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import Button from "primevue/button"
import ChangePreviewComponent from './ChangePreviewComponent.vue';

export default {
  components: {
    DataTable,
    Column,
    Button,
    ChangePreviewComponent
  },
  data() {
    return {
      commandes: [{
  "type": "SUPPRESSION",
  "date": "08/05/2021",
  "status": false,
  "type_donnee": "BATEAU"
}, {
  "type": "SUPPRESSION",
  "date": "02/15/2021",
  "status": false,
  "type_donnee": "BATEAU"
}, {
  "type": "EDITION",
  "date": "08/04/2021",
  "status": true,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "AJOUT",
  "date": "03/31/2021",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "EDITION",
  "date": "09/15/2021",
  "status": true,
  "type_donnee": "SAUVE"
}, {
  "type": "EDITION",
  "date": "11/16/2021",
  "status": true,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "03/12/2021",
  "status": true,
  "type_donnee": "BATEAU"
}, {
  "type": "SUPPRESSION",
  "date": "04/01/2021",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "AJOUT",
  "date": "07/01/2021",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "07/06/2021",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "07/23/2021",
  "status": true,
  "type_donnee": "SAUVE"
}, {
  "type": "AJOUT",
  "date": "01/15/2021",
  "status": true,
  "type_donnee": "BATEAU"
}, {
  "type": "SUPPRESSION",
  "date": "01/04/2021",
  "status": true,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "EDITION",
  "date": "12/24/2020",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "EDITION",
  "date": "05/29/2021",
  "status": true,
  "type_donnee": "BATEAU"
}, {
  "type": "AJOUT",
  "date": "06/29/2021",
  "status": true,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "AJOUT",
  "date": "12/04/2020",
  "status": false,
  "type_donnee": "BATEAU"
}, {
  "type": "AJOUT",
  "date": "12/14/2020",
  "status": false,
  "type_donnee": "BATEAU"
}, {
  "type": "SUPPRESSION",
  "date": "08/25/2021",
  "status": false,
  "type_donnee": "BATEAU"
}, {
  "type": "SUPPRESSION",
  "date": "02/08/2021",
  "status": false,
  "type_donnee": "SAUVE"
}, {
  "type": "AJOUT",
  "date": "10/29/2021",
  "status": true,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "06/08/2021",
  "status": true,
  "type_donnee": "BATEAU"
}, {
  "type": "AJOUT",
  "date": "07/17/2021",
  "status": false,
  "type_donnee": "BATEAU"
}, {
  "type": "SUPPRESSION",
  "date": "02/13/2021",
  "status": true,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "05/08/2021",
  "status": true,
  "type_donnee": "BATEAU"
}, {
  "type": "SUPPRESSION",
  "date": "09/18/2021",
  "status": true,
  "type_donnee": "BATEAU"
}, {
  "type": "SUPPRESSION",
  "date": "07/07/2021",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "EDITION",
  "date": "06/05/2021",
  "status": true,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "10/04/2021",
  "status": false,
  "type_donnee": "BATEAU"
}, {
  "type": "SUPPRESSION",
  "date": "11/28/2021",
  "status": false,
  "type_donnee": "SAUVE"
}, {
  "type": "EDITION",
  "date": "12/28/2020",
  "status": true,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "05/26/2021",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "04/11/2021",
  "status": true,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "03/13/2021",
  "status": false,
  "type_donnee": "SAUVE"
}, {
  "type": "EDITION",
  "date": "01/30/2021",
  "status": true,
  "type_donnee": "BATEAU"
}, {
  "type": "SUPPRESSION",
  "date": "06/16/2021",
  "status": true,
  "type_donnee": "BATEAU"
}, {
  "type": "EDITION",
  "date": "02/02/2021",
  "status": true,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "03/14/2021",
  "status": true,
  "type_donnee": "BATEAU"
}, {
  "type": "SUPPRESSION",
  "date": "02/17/2021",
  "status": true,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "05/10/2021",
  "status": true,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "EDITION",
  "date": "06/06/2021",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "EDITION",
  "date": "08/19/2021",
  "status": true,
  "type_donnee": "BATEAU"
}, {
  "type": "AJOUT",
  "date": "03/05/2021",
  "status": true,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "AJOUT",
  "date": "04/24/2021",
  "status": true,
  "type_donnee": "BATEAU"
}, {
  "type": "SUPPRESSION",
  "date": "06/18/2021",
  "status": true,
  "type_donnee": "SAUVETAGE"
}, {
  "type": "SUPPRESSION",
  "date": "06/18/2021",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "AJOUT",
  "date": "04/23/2021",
  "status": true,
  "type_donnee": "SAUVE"
}, {
  "type": "AJOUT",
  "date": "04/23/2021",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "EDITION",
  "date": "11/16/2021",
  "status": true,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "08/01/2021",
  "status": true,
  "type_donnee": "SAUVE"
}, {
  "type": "EDITION",
  "date": "06/13/2021",
  "status": true,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "01/13/2021",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "01/01/2021",
  "status": true,
  "type_donnee": "SAUVE"
}, {
  "type": "SUPPRESSION",
  "date": "06/23/2021",
  "status": true,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "AJOUT",
  "date": "06/07/2021",
  "status": false,
  "type_donnee": "SAUVETAGE"
}, {
  "type": "SUPPRESSION",
  "date": "05/26/2021",
  "status": true,
  "type_donnee": "SAUVETAGE"
}, {
  "type": "EDITION",
  "date": "03/14/2021",
  "status": true,
  "type_donnee": "SAUVETAGE"
}, {
  "type": "EDITION",
  "date": "11/29/2021",
  "status": false,
  "type_donnee": "SAUVETAGE"
}, {
  "type": "SUPPRESSION",
  "date": "07/07/2021",
  "status": true,
  "type_donnee": "SAUVE"
}, {
  "type": "SUPPRESSION",
  "date": "07/06/2021",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "08/30/2021",
  "status": true,
  "type_donnee": "BATEAU"
}, {
  "type": "AJOUT",
  "date": "06/23/2021",
  "status": true,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "09/02/2021",
  "status": true,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "EDITION",
  "date": "04/03/2021",
  "status": true,
  "type_donnee": "BATEAU"
}, {
  "type": "EDITION",
  "date": "12/29/2020",
  "status": true,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "AJOUT",
  "date": "08/07/2021",
  "status": false,
  "type_donnee": "SAUVE"
}, {
  "type": "EDITION",
  "date": "02/09/2021",
  "status": false,
  "type_donnee": "BATEAU"
}, {
  "type": "SUPPRESSION",
  "date": "05/31/2021",
  "status": false,
  "type_donnee": "SAUVETAGE"
}, {
  "type": "SUPPRESSION",
  "date": "02/18/2021",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "05/18/2021",
  "status": true,
  "type_donnee": "SAUVETAGE"
}, {
  "type": "EDITION",
  "date": "01/21/2021",
  "status": true,
  "type_donnee": "SAUVETAGE"
}, {
  "type": "AJOUT",
  "date": "11/22/2021",
  "status": false,
  "type_donnee": "SAUVE"
}, {
  "type": "AJOUT",
  "date": "03/16/2021",
  "status": true,
  "type_donnee": "SAUVE"
}, {
  "type": "SUPPRESSION",
  "date": "04/13/2021",
  "status": false,
  "type_donnee": "SAUVETAGE"
}, {
  "type": "AJOUT",
  "date": "07/25/2021",
  "status": true,
  "type_donnee": "SAUVE"
}, {
  "type": "AJOUT",
  "date": "10/27/2021",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "05/13/2021",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "AJOUT",
  "date": "09/01/2021",
  "status": true,
  "type_donnee": "BATEAU"
}, {
  "type": "AJOUT",
  "date": "04/30/2021",
  "status": true,
  "type_donnee": "SAUVE"
}, {
  "type": "SUPPRESSION",
  "date": "10/06/2021",
  "status": true,
  "type_donnee": "BATEAU"
}, {
  "type": "SUPPRESSION",
  "date": "05/14/2021",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "11/04/2021",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "04/06/2021",
  "status": false,
  "type_donnee": "BATEAU"
}, {
  "type": "SUPPRESSION",
  "date": "05/07/2021",
  "status": true,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "AJOUT",
  "date": "11/17/2021",
  "status": true,
  "type_donnee": "BATEAU"
}, {
  "type": "SUPPRESSION",
  "date": "12/11/2020",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "AJOUT",
  "date": "08/26/2021",
  "status": true,
  "type_donnee": "SAUVE"
}, {
  "type": "EDITION",
  "date": "02/24/2021",
  "status": false,
  "type_donnee": "BATEAU"
}, {
  "type": "EDITION",
  "date": "04/14/2021",
  "status": false,
  "type_donnee": "SAUVETAGE"
}, {
  "type": "SUPPRESSION",
  "date": "12/10/2020",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "EDITION",
  "date": "01/23/2021",
  "status": false,
  "type_donnee": "SAUVE"
}, {
  "type": "AJOUT",
  "date": "11/04/2021",
  "status": true,
  "type_donnee": "BATEAU"
}, {
  "type": "SUPPRESSION",
  "date": "04/12/2021",
  "status": true,
  "type_donnee": "BATEAU"
}, {
  "type": "EDITION",
  "date": "11/14/2021",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "02/13/2021",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "EDITION",
  "date": "09/19/2021",
  "status": false,
  "type_donnee": "SAUVETEUR"
}, {
  "type": "SUPPRESSION",
  "date": "05/09/2021",
  "status": true,
  "type_donnee": "SAUVETAGE"
}, {
  "type": "SUPPRESSION",
  "date": "07/26/2021",
  "status": false,
  "type_donnee": "SAUVETAGE"
}, {
  "type": "EDITION",
  "date": "04/11/2021",
  "status": false,
  "type_donnee": "BATEAU"
}, {
  "type": "SUPPRESSION",
  "date": "03/10/2021",
  "status": false,
  "type_donnee": "SAUVETEUR"
}],
      previewCommand : null,
    };
  },
};
</script>