<template>
    <div>
        <h1>Les personnes sauvées</h1>
        <div v-for="rescued in rescuedPersons" :key="rescued.id">{{rescued.firstname }} {{rescued.lastname}}</div>
    </div>
</template>

<script>
export default {
    props:{
        rescuedPersons: {
            type: Array,
            required: true
        }
    }
}
</script>