<template>
    <div>
        <h1>Les sauveteurs</h1>
        <div v-for="rescuer in rescuers" :key="rescuer.id">
            {{rescuer.firstname}}
            {{rescuer.lastname}}
        </div>
    </div>
</template>

<script>
export default {
    props:{
        rescuers: {
            type: Array,
            required: true
        }
    }
}
</script>