<template>
    <div>
        Nom du bâteau {{ boat.name }}
    </div>
</template>

<script>
export default {
    props:{
        boat:{
            type: Object,
            required: true
        }
    }
}
</script>